<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Unstoppable Marketers</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="shortcut icon" href="/images/favicon.png"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"
          media="all"/>
    <link rel="stylesheet" href="/css/plugins.css" type="text/css"
          media="all"/>
    <link rel="stylesheet" href="/css/style_on.css" type="text/css"
          media="all"/>
    <link rel="stylesheet" href="/css/style_aligh.css" type="text/css"
          media="all"/>
    <!-- <link rel="stylesheet" href="../css/style_media.css" type="text/css"
        media="all" />
    <link rel="stylesheet" type="text/css" href="../css/style_tooltip.css" /> -->

    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>

</head>
<body>

<div id="wrap" ng-controller="tagCtrl" ng-cloak>
    <header>
        <ng-include src="'adminheader.html'"></ng-include>
    </header>
    <ng-include src="'adminmenu.html'"></ng-include>

    <section class="section_h">

        <div class="col-lg-12 col-xs-12 p-0 f_l">
            <div class="cnt_section">
                <div class="sign_in">
                    <div class="col-lg-12 col-xs-12 silver_pannel">
                        <div id="addTag" ng-show="{{tagId==0}}">
                            <aside>
                                <div class="row m-0 m-b-30">
                                    <div ng-show="checkVal" class="alert-success"
                                         style="padding: 5px;">
												<span ng-show="checkVal" class="alert-success"
                                                      style="margin-left: 165px">{{msg}}</span>
                                    </div>
                                    <br/>
                                    <!--12-->
                                    <div class="row m-10">
                                        <div class="col-lg-5  col-xs-12">Tag Name *</div>
                                        <div class="col-lg-7  col-xs-12">
                                            <input class="form-control input-sm" type="text" value="0"
                                                   ng-model="tagValues.tagName" name="tagName" id="tagName"
                                                   ng-blur="visitTag = false"
                                                   required autofocus>

                                            <div>
															<span ng-show="visitTag"
                                                                  class="alert-danger"> Required</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-10 p-20 ">
                                    <div class="col-lg-6 col-xs-12 align-right">
                                        <a href="" ng-click="addTag()"><img
                                                src="../images/save_but.png"/></a>
                                    </div>
                                    <div class="col-lg-6 col-xs-12">
                                        <a href="../admin/managetags.html"><img
                                                src="../images/cancel_but.png"/></a>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div id="editTag" ng-show="{{tagId!=0}}">
                            <aside>
                                <div class="row m-0 m-b-30">
                                    <div ng-show="checkVal" class="alert-success"
                                         style="padding: 5px;">
												<span ng-show="checkVal" class="alert-success"
                                                      style="margin-left: 165px">{{msg}}</span>
                                    </div>
                                    <br/>
                                    <!--12-->
                                    <div class="row m-10">
                                        <div class="col-lg-5  col-xs-12">Tag Name *</div>
                                        <div class="col-lg-7  col-xs-12">
                                            <input class="form-control input-sm" type="text"
                                                   ng-model="tagEditValues.tagName" name="tagName"
                                                   ng-blur="visitTag = false"
                                                   value='tagEditValues.tagName'>

                                            <div>
															<span ng-show="visitTag"
                                                                  class="alert-danger"> Required</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-10 p-20 ">
                                    <div class="col-lg-6 col-xs-12 align-right">
                                        <a href="" ng-click="updateTag(tagEditValues)"><img
                                                src="/images/save_but.png"/></a>
                                    </div>
                                    <div class="col-lg-6 col-xs-12">
                                        <a href="/admin/managetags.html"><img
                                                src="/images/cancel_but.png"/></a>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                    <!--12-->
                </div>
            </div>
            <!--cnt_section-->
        </div>
        <!--12-->
    </section>
    <ng-include src="'/footer.html'"></ng-include>

</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src='/js/textAngular-sanitize.min.js'></script>
<script src='/js/textAngular.min.js'></script>
<script type="text/javascript">
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;

            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }

    $(function () {

        var dd = new DropDown($('#dd'));

        $(document).click(function () {
            // all dropdowns
            $('.wrapper-dropdown-5').removeClass('active');
        });

    });
</script>
<script src="/js/jquery.jscrollpane.min.js"></script>
<script src="/js/jquery.bookblock.js"></script>
<script src="/js/page.js"></script>
<script src="/js/modernizr.custom.79639.js"></script>


<script>
    $(function () {

        Page.init();

    });
</script>
<script type="text/javascript" src="/application/app.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript"src="/controllers/tagController.js"></script>
</body>
</html>
