<!doctype html>
<html ng-app="com.obs.channel">

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Unstoppable Marketers</title>
    <meta name="twitter:card" content="summary">
      <meta name="twitter:domain" content="http://www.umcast.com" />
    <meta name="og:type" content="http://www.umcast.com/umcast/channelcast.html?ved={{videoInfo.videoId}}" />
    <meta name="og:image" content="http://www.umcast.com/umcast/images/favicon.png" />
    <meta name="og:title" content="{{ Page.title() }}" />
    <meta name="og:description" content="{{videoInfo.videoDescription}}" />
    <meta name="og:url" content="http://www.umcast.com/umcast/channelcast.html?ved={{videoInfo.videoId}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/plugins.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/style_on.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/style_aligh.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/style_media.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/style_tooltip.css" />
    <link rel="stylesheet" type="text/css" href="css/custom.css" />
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/menu.css">
    <!-- <script>jwplayer.key="GP7xylbjfR0uW+PhF64xStcWlctqD/Kkl8qafQ==";</script>
     -->
   
</head>

<body ng-controller="channelCtrl">
<div id="wrap" ng-cloak>
<form name="form">
<header>
    <ng-include src="'umchannelheader.html'"></ng-include>
</header>
<!-- <ng-include src="'menu.html'"></ng-include> -->
<section class="section_h">
<div class="col-lg-12 col-xs-12 p-0 f_l">
<div class="main_cnt_section">
<!--Recent Videos-->
<div class="col-lg-12  col-xs-12 p-0 m-t-20">
<div class="silver_pannel">
<div class="row m-0">
    <div class="bold_l">
        <img src="images/bold.png"/>
    </div>
    <div class="bold_r">
        <img src="images/bold.png"/>
    </div>
</div>
<!--row-->
<div class="profile_header row m-0" style="width: 100%;">
    <div class="cover_bg resp_img">
        <img ng-src="{{coverImageUrl}}" style="min-width: 1600px; min-height: 741px;"/>
    </div>
    <div>
        <div class="profile_details" style="margin-top: -240px; margin-left: 37px;">
            <div class="profile_pic resp_img col-md-3 p-0"
                 style="width: 150Px; height: 150px; float: none;">
                <img ng-src="{{profileImageUrl}}" style="height: 100%; width: 100%"/>
            </div>
            <div class="col-md-6" style="margin-top: 1%;">
                <div class="profile_name p-0">
                    <h2>{{videoInfo.owner.firstName}}</h2>
                   <p>{{videoInfo.owner.umcast_name}}</p>
                </div>
            </div>
        </div>
        <!--profile_details-->
    </div>
</div>
<!--row-->
<div class="profile_menu">
    <div class="back_link">
        <a href="channel.html">Back to UMCast</a>
    </div>
    <div class="theme_link"></div>
    <!--theme_link-->
</div>
<div class="row m-0 m-t-10" ng-show="checkUserVideo">
    <div class="col-lg-7 col-xs-12 p-0 p-l-10 m-b-5"
         style="min-width: 1055px; min-height: 350px;">
        <div class="col-lg-7 col-xs-12 p-0 p-l-10 m-b-5" align="center">
            <h1 style="margin-top: 123px; text-align: right;">{{videoMsg}}</h1>
        </div>
    </div>
</div>
<div class="row m-0 m-t-10" ng-hide="checkUserVideo">
    <div class="col-lg-7 col-xs-12 p-0 p-l-10 m-b-5">
        <div class="row  profile_sub_tit">
            <h2>{{videoInfo.videoName}}</h2>
        </div>
        <!--row-->
        <div class="video_pan">
            <div class="video_frame resp_img">
                <div id='mediaplayer'></div>
            </div>
            <div class="video_title">
                <h2 style="height: 50px; word-wrap: break-word;">{{videoInfo.videoName}}</h2>
            </div>
            <div class="video_statistics">
                <div class="row m-0"></div>
                <div class="row m-0 p-t-5">
                    <h1 style="font-size: 13px">by {{videoInfo.owner.firstName}}</h1>
                    <i class="fa fa-calendar-o"></i> {{videoInfo.uploaded_Date|date:'yyyy-MM-dd'}}
                </div>
            </div>
        </div>
        <div class="video_info row ">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#home" role="tab" data-toggle="tab">Basic info</a></li>
                <li><a href="#profile" role="tab" data-toggle="tab">Share Link</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="video_dis row m-0 p-10">
                        <h1>{{videoInfo.videoCategory.categoryName}}</h1>
                        <label>
                            <div ng-bind-html="description | linky" id="desc_content"></div>
                        </label>
                    </div>
                </div>
                <div class="tab-pane" id="profile">
                    <div class="video_dis row m-0 p-10">
                        <h1>Share this Link</h1>
                        <input class="video_link" name="share_url" value="{{videoShareLink}}"
                               style="height: 45px; width: 50%;">
                    </div>
                </div>
            </div>
        </div>
        <!--row-->
        <div class="row m-0 m-b-10">
            <div class="col-xs-2">
                <div class="cmt_profile_pic resp_img col-md-3 p-0" ng-show="checkToken">
                    <img ng-src="{{cmtUserImageUrl}}" style="height: 75px;; width: 100%"/>
                </div>
                <div class="cmt_profile_pic resp_img col-md-3 p-0" ng-show="!checkToken">
                    <img ng-src="{{guestUserImage}}" style="height: 75px;; width: 100%"/>
                </div>
            </div>
            <div class="col-xs-9 p-0">
                <textarea maxlength='255' id="textarea1" style="overflow: hidden" cols="30" rows="2"
                          class="form-control valid parsley-validated" name="comments"
                          onkeyup="AutoGrowTextArea(this)"
                          placeholder="Leave Comments(upto 255 characters)"
                          ng-model="userVideoCmt.comments" autofocus ng-focus="isFocused=true"
                          ng-blur="isVisited=true"></textarea>
                <a href="#" ng-click="userCommentsFunc(videoInfo)"
                   class="col-lg-3 col-xs-12 m-l-10	f_r m-t-5 blue_button">
                                     <h1>Post comments</h1>
                </a> <span ng-show="(!isFocused && !cmtMsgCheck) " class="alert-danger">{{cmtMsg}}</span>
            </div>
        </div>
        <div class="row m-0 m-b-10" ng-repeat="cmtsList in commentsListInfo"
             ng-show="commentsRecordLength &gt; 0">
            <div class="col-xs-2">
                <div class="cmt_profile_pic resp_img col-md-3 p-0" style="height: 60px; width: 70%">
                    <img ng-src="{{cmtsList.userProfImageUrl}}" style="height: 60px;; width: 100%"/>
                </div>
            </div>
            <div class="col-xs-8" style="margin-top: 5px; display: flex; text-align: justify;">
                <label>{{cmtsList.comments}}</label>
            </div>
            <div class="col-xs-2" ng-show="(cmtsList.cmtUserId == profile.id)">
                <a href="#" ng-click="deleteCmt(cmtsList)">Delete</a>
            </div>
        </div>
    </div>
    <!--main 6-->
    <div class="col-lg-5 col-xs-12">
        <div class="row  profile_sub_tit">
            <h2>{{videoInfo.owner.firstName}}'s Videos</h2>
        </div>
        <!--row-->
        <div class="row m-0 own_video">
            <div class="col-lg-6 p-5 rec_vid_width" ng-repeat="list in ownerVideosList"
                 ng-show="!checkOwnerVideos">
                <div class="video_pan">
                    <div class="row video_frame resp_img">
                        <a href="#" ng-click="redirectToVideo(list)"><img
                                ng-src='{{list.posterUrl?list.posterUrl:"/images/upload_sign.png"}}'
                                style="height: 135px; width: 235px;"/></a>
                    </div>
                    <div class="row m-0">
                        <div class="video_title_sml">
                            <a href="#" ng-click="redirectToVideo(list)"><h2
                                    style="height: 50px; word-wrap: break-word;">{{list.videoName}}</h2></a>
                                                        </div>
                                                        <div class="video_statistics_sml">
                                                            <div class="row m-0"></div>
                                                            <div class="row m-0 p-t-5">
                                                                <h1 style="font-size: 13px;">by {{list.owner.firstName}}</h1>
                                                                <i class="fa fa-calendar-o"></i>
                                                                {{list.uploaded_Date|date:'yyyy-MM-dd'}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--7-->
                                                </div>
                                            </div>
                                            <div ng-show="checkOwnerVideos">{{msg}}</div>
                                        </div>
                                        <!--row-->
                                        <div class="row m-0">
                                            <div class="row  profile_sub_tit">
                                                <h2>Related Videos</h2>
                                            </div>
                                            <!--row-->
                                            <div class="col-lg-6 col-xs-12 p-b-10 " ng-repeat="vedsInfo in relatedVideosInfo" ng-show="!checkVideos">
                                                <div class="row   video_frame_com resp_img">
                                                    <a href="#" ng-click="redirectToVideo(vedsInfo)">
                                                        <img ng-src='{{vedsInfo.posterUrl?vedsInfo.posterUrl:"/images/upload_sign.png"}}' style="height: 135px; width: 235px;" />
                                                    </a>
                                                </div>
                                                <div class="row m-0">
                                                    <div class="video_title_com">
                                                        <h2 style="height: 50px; word-wrap: break-word;">{{vedsInfo.videoName}}</h2>
                                                    </div>
                                                    <div class="video_statistics_com">
                                                        <div class="row m-0">
                                                            <h1 style="font-size: 13px;">by {{vedsInfo.owner.firstName}}</h1>
                                                            <i class="fa fa-calendar-o"></i>
                                                            {{vedsInfo.uploaded_Date|date:'yyyy-MM-dd'}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--7-->
                                            </div>
                                            <div ng-show="checkVideos">{{msg}}</div>
                                        </div>
                                        <!--row-->
                                    </div>
                                    <!--main 6-->
                                </div>
                                <!--row-->
                                <div class="row m-0">
                                    <div class="bold_l">
                                        <img src="images/bold.png" />
                                    </div>
                                    <div class="bold_r">
                                        <img src="images/bold.png" />
                                    </div>
                                </div>
                                <!--row-->
                            </div>

                            <!--silver_pannel-->
                        </div>
                        <!--12-->
                        <!--End Recent Videos-->
                    </div>
</div>
                            <!--main_cnt_section-->
                            <!--12-->
            </section>
            <ng-include src="'footer.html'"></ng-include>
        </form>
    </div>
      <!--wrap-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script type="text/javascript" src="bower_components/ng-tags-input/ng-tags-input.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/messageResource.js"></script>
<script type="text/javascript" src="application/app.js"></script>
<script type="text/javascript" src="controllers/channelController.js"></script>
<script type="text/javascript" src="filters/descriptionLink.js"></script>
<script src="js/menu.js"></script>
<script type='text/javascript' src='https://d2nr9wnsqx54zt.cloudfront.net/jwplayer.js'></script>
  <!-- jQuery tooltip needed -->
    <script type="text/javascript">
        function DropDown(el) {
            this.dd = el;
            this.initEvents();
        }
        DropDown.prototype = {
            initEvents: function () {
                var obj = this;
                obj.dd.on('click', function (event) {
                    $(this).toggleClass('active');
                    event.stopPropagation();
                });
            }
        }
          $(function () {
            var dd = new DropDown($('#dd'));
     
            $(document).click(function () {
                // all dropdowns
                $('.wrapper-dropdown-5').removeClass('active');
            });

        });
         // auto expanding
        function AutoGrowTextArea(textField) {
            if (textField.clientHeight < textField.scrollHeight) {
              
                textField.style.height = textField.scrollHeight + "px";
                if (textField.clientHeight < textField.scrollHeight) {
                    textField.style.height = (textField.scrollHeight * 2 - textField.clientHeight) + "px";
                }
            }
        }
  
    </script>
    <script type="text/javascript">
        AutoGrowTextArea(document.getElementById("textarea1"));
    </script>
</body>
</html>
