<!doctype html>
<html ng-app="com.obs">
<head>
 <meta charset="utf-8">
<link rel="shortcut icon" href="images/favicon.png"/>
<title>Unstoppable Marketers</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" media="all"/>
<link rel="stylesheet" href="css/plugins.css" type="text/css" media="all"/>
<link rel="stylesheet" href="css/style_on.css" type="text/css" media="all"/>
<link rel="stylesheet" href="css/style_aligh.css" type="text/css" media="all"/>
<link rel="stylesheet" href="css/style_media.css" type="text/css" media="all"/>
<link rel="stylesheet" type="text/css" href="css/style_tooltip.css"/>
<link rel="stylesheet" type="text/css" href="css/custom.css"/>
<link rel="stylesheet" href="font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/menu.css">
</head>
<body ng-controller="seemoreVidoeCtrl">
    <div id="wrap" ng-cloak>
    <form name="form">
        <header>
            <ng-include src="'umchannelheader.html'"></ng-include>
        </header>
        <!-- 			<ng-include src="'menu.html'"></ng-include> -->
        <section class="section_h">
            <div class="col-lg-12 col-xs-12 p-0 f_l">
                <div class="main_cnt_section">
                    <!--Recent Videos-->
                    <div class="col-lg-12  col-xs-12 p-0 m-t-20">
                      
                        <div class="silver_pannel" style="min-height:350px">
                            <div class="row m-0">
                                <div class="bold_l">
                            
                                    <img src="images/bold.png"/>
                                </div>
                                <div class="bold_r">
                                 
                                    <img src="images/bold.png"/>
                                </div>
                            </div>
                            <!--row-->
                            <div class="profile_menu">
                                <div class="back_link">
                                                                    <a href="channel.html">Back to UMCast</a>
                                </div>
                                <div class="theme_link"></div>
                                <!--theme_link-->
                            </div>
                            <div class="row m-0 panel_title">
                                <h1>{{selCategoryName}}</h1>
                            </div>
                            <div class="row m-0 m-t-10" ng-show="listOfVideosLength == 0">
                                <div class="col-lg-12 p-t-10" style="min-width: 1055px; min-height: 350px;">
                                    <div class="col-lg-2 col-xs-12 p-0 com_vid_width" align="center">
                                        <h2>No Records Found</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0 m-t-10" ng-show="listOfVideosLength &gt; 0">
                                <div class="col-lg-12 p-t-10" style="min-width: 1055px; min-height: 350px;">
                                    <div class="col-lg-2 col-xs-12 p-0 com_vid_width"
                                         ng-repeat="videosLst in listOfVideosInfo">
                                        <div class="video_pan">
                                            <div class="row video_frame resp_img">
                                                <a href="#" ng-click="redirectToVideo(videosLst)"> <img
         
                                                        ng-src='{{videosLst.posterUrl?videosLst.posterUrl:"images/upload_sign.png"}}'
                                                        style="height: 135px; width: 235px;"/></a>
                                            </div>
                                            <div class="row m-0">
                                                <div class="video_title_sml">
                                                    <a href="#" ng-click="redirectToVideo(srchlst)">
                                                        <h2 style="height: 50px; word-wrap: break-word;">
                                                            {{videosLst.videoName}}</h2>
                                                    </a>
                                                </div>
                                                <div class="video_statistics_sml">
                                                    <div class="row m-0"></div>
                                                    <div class="row m-0 p-t-5">
                                                        <h1 style="font-size: 13px;">by
                                                            {{videosLst.owner.firstName}}</h1>
                                                        <div class="row m-0" id="viewCount">
                                                            <i class="fa fa-eye"></i>
                                                            {{videosLst.videoViewCount!=null?videosLst.videoViewCount:0}}
                                                        </div>
                                                        <i class="fa fa-calendar-o"></i>
                                                        {{videosLst.uploaded_Date|date:'yyyy-MM-dd'}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="bold_l">
                                    <img src="images/bold.png"/>
                                </div>
                                <div class="bold_r">
                                    <img src="images/bold.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ng-include src="'footer.html'"></ng-include>
    </form>
    </div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="js/messageResource.js"></script>
    <script src="application/app.js"></script>
    <script src="js/menu.js"></script>
    <script type="text/javascript" src="controllers/seemoreController.js"></script>
</body>
</html>
