<div class="col-lg-12 col-xs-12 p-0" id="header_style">
    <div class="row m-0">
        <div class="bold_l">
            <img src="images/bold.png"/>
        </div>
        <div class="bold_r">
            <img src="images/bold.png"/>
        </div>
    </div>
    <!--row-->
    <div class="row  header_in">

        <div class="col-md-3 col-xs-12">
            <div class="main_logo resp_img">
                <a href="channel.html"><img src="images/UM_cast_main_logo.png" class="img_size"></a>
            </div>
        </div>
        <div class="col-md-9 col-xs-12 m-t-20  ">
            <div class="row m-0">
                <div class="col-sm-12 p-0 p-b-10 col-xs-12" ng-show="checkToken">
                    <div class="login">
                        <a ng-show="checkToken" href="video/videoupload.html" id="chan_uploadBtn">
                            <div class="col-lg-4 m-t-5">
                                <img src="images/upload.png"/>
                            </div>
                        </a> &nbsp;
                        <div class="col-lg-6 col-xs-12  m-t-5">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle wrapper-dropdown-5">
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li id="chan_prof"><a href="user/umcastchannel.html"><i
                                            class="fa fa-user"></i>Channel
                                        Profile</a></li>
                                    <li id="chan_videoMan"><a href="video/videomanager.html"><i
                                            class="fa fa-gear"></i>Video Manager</a></li>
                                    <li id="chan_settings"><a href="user/umcast_settings.html"><i
                                            class="fa fa-gears"></i>Settings</a></li>
                                    <li id="chan_upload"><a href="video/videoupload.html"><i
                                            class="fa fa-arrow-up"></i>Upload</a></li>
                                    <li>
                                        <a href="https://www.unstoppablemarketers.com/unstoppablemarketers/member/home.html"><i
                                                class="fa fa-home"></i>Back to UM</a>
                                    </li>
                                    <li><a href="#" ng-click="logOut()"><i class="fa fa-power-off"></i>Log out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p-0 col-xs-12" ng-show="!checkToken">
                    <div class="login">
                        <a href="#" ng-show="!checkToken" data-toggle="modal" data-target=".bs-example-modal-sm">
                            <div class="col-lg-3 ">
                                <img src="images/upload.png"/>
                            </div>
                        </a>
                        <div class="col-xs-12 " style="margin: -30px 0px 0px 5px;">
                            <a href="login.html">
                                <div style="border-left: 2px solid #B89816;" class="col-lg-4 col-xs-12  f_r  m-t-5">
                                    <h1 style=" color: #B89816; font-weight: bold;">Members</h1>
                                </div>
                            </a> <a href="https://www.unstoppablemarketers.com/unstoppablemarketers/signup.html">
                            <div class="col-lg-3 col-xs-12  f_r  m-t-5">
                                <h1 style="color: #B89816; font-weight: bold;">Join</h1>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-12 p-0 col-xs-12" style="margin-top: -63px;"
                        ng-show="{{!checkToken}}">
                        <div class="login">

                            <div class="col-xs-12 ">

                         
                                    <a href="signup.html"><div style="float: none;"
                                        class="col-lg-3 col-xs-12 m-l-10 f_r  m-t-5 blue_button ">
                                        <h1>Sign Up</h1>
                                
                                    </div></a> <a href="login.html"><div
                                        class="col-lg-3 col-xs-12  f_r  m-t-5 blue_button ">
                                        <h1>Sign in</h1>
                                    </div></a>
                            </div>
                        </div>
                    </div> -->
                <div class="top_search col-sm-12 p-0 col-xs-12 f_l ">
                    <div class="col-lg-10 col-xs-12 p-0 m-t-5">
                        <div class="search_box" style="width: 80%;">
                            <div class="search_l"></div>
                            <div class="search_bg">

                                <input type="text" id="icon-finder" class="form-control" name="searchVideo"
                                       placeholder="Search" ng-model="searchVideos"
                                       style="background-color: transparent; margin-top: 6px; border: 0px solid; height: 25px; padding: 0px;">
                            </div>
                            <div class="search_r"></div>
                        </div>
                        <div class="col-lg-3 col-xs-12  blue_button ">

                            <button ng-click="searchFunc(searchVideos)"
                                    style="background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: medium none; overflow: visible;">
                                <h1>Search</h1>
                            </button>
                        </div>
                    </div>
                    <!-- <div style="float: right; margin-top: 10px; margin-right: 20px;">
                             <a href="#" ng-show="{{!checkToken}}" data-toggle="modal"
                                 data-target=".bs-example-modal-sm"><div class="col-lg-3 ">
                                
                                     <img src="images/upload.png" />
                                 </div></a> <a ng-show="{{checkToken}}"
                        
                                 href="video/videoupload.html"><div class="col-lg-3 ">
                                     <img src="images/upload.png" />
                                 </div></a>
                         </div> -->
                    <!-- 	<a href="#" ng-click="searchFunc(searchVideos)"><div
                                 class="col-lg-3 col-xs-12  m-t-5 blue_button ">
                                 <h1>Search</h1>
                             </div></a> -->
                    <!-- Popup -->

                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                         aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="row m-10">
                                    <p>

                                        if you would like to upload videos to UMcast, you need to be a paid member.
                                        Please review the products and join by clicking <a href=""
                                                                                           ng-click="uploadCheck()">HERE</a>.
                                    </p>
                                </div>
                                <!-- 		<div class="row m-10">
                                            <div class="col-lg-7 col-xs-12  m-t-5 blue_button "
                                                style="float: right; margin-left: 10px;" data-dismiss="modal">
                                                <a href=""><h1 style="margin: -15px;">Back</h1></a>
                                            </div>
                                            <div class="col-lg-5 col-xs-12  m-t-5 blue_button "
                                                style="float: right;" data-dismiss="modal">
                                                <a href="" ng-click="uploadCheck()"><h1
                                                        style="margin: -15px;">Ok</h1></a>
                                            </div>

                                        </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--col-lg-12-->
            </div>
            <!--row-->
        </div>
        <!--out-->
    </div>
    <!--row-->
    <div class="row m-0">
        <div class="bold_l">
            <img src="images/bold.png"/>
        </div>
        <div class="bold_r">
            <img src="images/bold.png"/>
        </div>
    </div>
    <!--row-->
    <div class="header_bottom_bg"></div>
</div>
