<div class="col-lg-12 col-xs-12 p-0" id="header_style">
    <div class="row m-0">
        <div class="bold_l">
            <img src="/unstoppablemarketers/images/bold.png"/>
        </div>
        <div class="bold_r">
            <img src="/unstoppablemarketers/images/bold.png"/>
        </div>
    </div>
    <!--row-->
    <div class="row  header_in">
        <div class="col-md-3 col-xs-12">
            <div class="main_logo resp_img">
                <a href="/unstoppablemarketers/index.html"><img src="/unstoppablemarketers/images/UM_main_logo.png"></a>
            </div>
        </div>
        <div class="col-md-9 col-xs-12 m-t-20  ">
            <div class="row m-0">
                <div class="col-sm-12 p-0 p-b-10 col-xs-12">
                    <div class="login">
                        <div class="col-lg-6 col-xs-12  m-t-5">
                            <div id="dd" class="wrapper-dropdown-5" tabindex="1">
                                Hi, {{profile.firstName}}
                                <ul class="dropdown">
                                    <li><a href="/unstoppablemarketers/user/profile.html"><i class="fa fa-user"></i>Edit
                                        Profile</a></li>
                                    <!-- <li><a
                                                 href="/unstoppablemarketers/user/umcastchannel.html"><i
                                                     class="fa fa-user"></i>Channel Profile</a></li>
                                             <li><a
                                                 href="/unstoppablemarketers/video/videomanager.html"><i
                                                     class="fa fa-gear"></i>Video Manager</a></li>
                                             <li><a
                                                 href="/unstoppablemarketers/user/umcast_settings.html"><i
                                                     class="fa fa-gears"></i>Settings</a></li>
                                             <li><a href="/unstoppablemarketers/video/videoupload.html"><i
                                                     class="fa fa-arrow-up"></i>Upload</a></li> -->
                                    <li><a href="#" ng-click="logOut()"><i class="fa fa-power-off"></i>Log out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 	<div class="col-sm-12 p-0 p-b-20 col-xs-12"
                        ng-show="{{!checkToken}}">
                        <a href="#" ng-click="logOut()"><div
                                class="col-lg-3 col-xs-12  f_r  m-t-5 blue_button ">
                                <h1>Log out</h1>
                            </div></a>
                    </div> -->
                <!--col-lg-12-->
            </div>
            <!--row-->
        </div>
        <!--out-->
    </div>
    <!--row-->
    <div class="row m-0">
        <div class="bold_l">
            <img src="/unstoppablemarketers/images/bold.png"/>
        </div>
        <div class="bold_r">
            <img src="/unstoppablemarketers/images/bold.png"/>
        </div>
    </div>
    <!--row-->
    <div class="header_bottom_bg"></div>
</div>
