@import url("../../../../styles/constant.css");

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.content {
  display: block;
  width: 100%;
}
.header {
  text-align: center;
  margin-top: 68px;
  margin-bottom: 73px;
  color: #404040;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1.95px;
  line-height: 37px;
}


@media screen and (max-width: $mobile) {
  .header {
    margin: 25px 0 50px;
  }
}