.wrapper {
  text-align: center;
}
.author-icon {
  height: 75px;
  width: 75px;
  margin: 0 auto;
}
.content {
  width: 310px;
  color: #707272;
  font-family: Georgia;
  font-size: 18px;
  font-style: italic;
  line-height: 26px;
  margin: 17px auto;
}
.author {
  color: #7e8890;
  font-size: 12px;
  font-weight: 400;
}