.discount-code-block {
  background-color: #fafafa;
  height: 118px;
  width:  100%;
  padding: 30px 20px 25px;
}
.block-title {
  color: #707272;
  font-size: 12px ;
  padding-bottom: 10px;
  font-weight: 400;
}
.discount-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}